@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
    width: 100%;
}

h1,h2,h3,h4,h5,h6,a {
    font-family: 'Montserrat', sans-serif;
}

p,span {
    font-family: 'Lato', sans-serif;
}

p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}

.container { max-width: 1420px; }

/* Titles */

h4 {
    color:#304659;
    font-size: 40px !important;
    line-height: 44px !important;
    padding-bottom: 35px;
    line-height: 20px;
    font-weight: 700;
}
    .bg-blue h4 { color: #fff; }

h4 small {
    font-size: 13px;
    text-transform: uppercase;
    color: #304659;
    font-weight: 500;
    display: block;   
    margin-bottom: 10px;
    letter-spacing: 1px;
}

h5 { 
    font-family: 'Lato', sans-serif; 
    font-weight: 600;
    margin-bottom: 30px;
}

/* Buttons */

.button-default {
    border: solid 1px #E74E00;
    padding: 0 25px;
    border-radius: 33px;
    color: #fff;
    background: #E74E00;
    text-transform: uppercase;
    font-weight: 500;
    height: 50px;
    display: inline-block;
    line-height: 50px;
    font-size: 14px;
    transition: all .3s ease-in-out;
}
    .button-default:hover { color: #fff; opacity: .8; text-decoration: none; }