header {
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    padding: 50px 0;
    z-index: 100;
}

header.menu {
    padding: 35px;
}

header img.img-logo {
    max-width: 100%;
}

header img {
    margin-right: 15px;
}

header span {
    color: #fff;
    padding-right: 15px;
    font-size: 16px;
}

.menu-holder { position: relative; padding-bottom: 15px; transform: translateY(10px); }
.menu-holder:hover .list-menu { display: block; }

.list-menu {
    background: #fff;
    width: 180px;
    border-radius: 6px;
    position: absolute;
    top: 100%;
    right: 0;
    margin: auto;
    display: none;
    overflow: hidden;
}
.list-menu li {
    list-style: none;
    text-align: left;
}
.list-menu li:last-child a { border: none; }
.list-menu li a {
    display: block;
    padding: 15px;
    border-bottom: 1px solid #ededed;
    font-size: 15px;
    color: #000;
    transition: all .3s ease-in-out;
}
    .list-menu li a:hover { color: #fff; background: #153F7D; text-decoration: none; }

.button-nav { cursor: pointer; }

.button-highlight {
    padding: 0;
}
.button-highlight a {
    background: #e74e01;
    color: #fff !important;
}


@media (max-width: 948px) {
    
    header { padding: 25px 0; }

    a{ text-align: right;}



}
