header {
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    padding: 50px 0;
    
}

header.menu {
    padding: 35px;
}

header img.img-logo {
    max-width: 100%;
}

header img {
    margin-right: 15px;
}
header a {
    border: solid 1px #E74E00;
    padding: 0 25px;
    border-radius: 33px;
    color: #fff;
    background: #E74E00;
    text-transform: uppercase;
    font-weight: 500;
    height: 50px;
    display: inline-block;
    line-height: 50px;
    font-size: 14px;
    transition: all .3s ease-in-out;
}
    header a:hover { color: #fff; opacity: .8; text-decoration: none; }


header span {
    color: #fff;
    padding-right: 15px;
    font-size: 16px;
}




@media (max-width: 948px) {
    
    header{ padding: 25px;}

    a{ text-align: right;}



}
